<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_AndyModuleSecond" translate="label" sortOrder="10">
            <label>Amasty Andy Second Module</label>
        </tab>
        <section id="andy_second_config" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Andy Second Module Config</label>
            <tab>Amasty_AndyModuleSecond</tab>
            <resource>Amasty_AndyModuleSecond::config</resource>
            <group id="general_second" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="promo_sku" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Promo SKU</label>
<!--                    <validate>required-entry</validate>-->
                </field>
                <field id="for_sku" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>For SKU</label>
<!--                    <validate>integer</validate>-->
                </field>
            </group>
        </section>
    </system>
</config>
