<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_AndyModule" translate="label" sortOrder="10">
            <label>Amasty Andy Module</label>
        </tab>
        <section id="andy_config" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Andy Module Config</label>
            <tab>Amasty_AndyModule</tab>
            <resource>Amasty_AndyModule::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="welcome_text" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Welcome Text</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="qty_enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Input "Qty" Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="qty_value" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Value "Qty" Default</label>
                    <validate>integer</validate>
                    <depends>
                        <field id="qty_enabled">1</field>
                    </depends>
                </field>
                <field id="to_email_value" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>To E-mail</label>
                    <validate>validate-email</validate>
                </field>
                <field id="email_template" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template Name</label>
                </field>
                <field id="schedule_job" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Schedule Job</label>
                </field>

                <!--                <field id="email_template" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                                    <label>Email Template</label>
                                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                                </field>-->
            </group>
        </section>
    </system>
</config>
